@charset "UTF-8";
* {
  font-family: 微軟正黑體;
  position: relative;
}

html {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: rgba(101, 109, 144, 0.19);
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
body .mark {
  font-size: 300px;
  position: absolute;
  bottom: 100px;
  font-weight: 100px;
  color: rgba(0, 0, 0, 0.35);
}
body .namecard {
  width: 216px;
  height: 360px;
  padding: 15px;
  background-color: #555;
  letter-spacing: 0.5px;
  font-weight: 100;
  color: #fff;
  overflow: hidden;
  border: solid 1px rgba(0, 0, 0, 0.15);
  border-radius: 1px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
body .namecard p {
  font-size: 12px;
  line-height: 10px;
}
body .namecard h1 {
  font-size: 18px;
  letter-spacing: 5px;
}
body .namecard h5 {
  font-size: 1px;
  letter-spacing: 0.5px;
  color: rgba(201, 196, 196, 0.6);
}
body .namecard .name {
  padding-top: 30px;
  padding-bottom: 30px;
}
body .namecard .name h2 {
  font-size: 22px;
  font-weight: 700;
}
body .namecard .name h2 span {
  font-size: 14px;
}
body .namecard .name .title {
  font-weight: 500;
}
body .namecard .address {
  padding-top: 10px;
}
body .namecard .five {
  position: absolute;
  width: 0;
  height: 0;
  border-width: 0 81px 59px;
  border-style: solid;
  border-color: transparent transparent #069;
  top: -42px;
  transform: rotate(-47deg);
  left: -77px;
  opacity: 0.5;
  z-index: -1;
}
body .namecard .five:before {
  position: absolute;
  content: "";
  top: 59px;
  left: -81px;
  width: 100px;
  height: 0;
  background: none;
  border-width: 95px 31px 0;
  border-style: solid;
  border-color: #069 transparent transparent;
}